/*Wrapper to cover the full site, allowing room for footer below*/
.wrapper{
    min-height: 95vh;
    background-color: $color-background;
}
/*Centering the page header*/
.page-header{
   display: flex;
   & h1{
       margin: 5% auto;
   }
}
/*Single row element, combined with CDN bootstrap, only needing to style the color of the different cards*/
.row{
    justify-content: center;
    width: 100%;
    margin: auto;
    & .card{
        height: 240px;
        border-radius: 5%;
        margin: 4%;
        background-color: $color-primary;
    }
    & .bg-wht{
        background-color: white;
        border: 5px solid $color-secondary;
    }
    & .bg-sec{
        background: $color-secondary;
    }
}
